# General
**/.DS_Store
**/node_modules
**/__pycache__
**/.env
**/.env.local
**/.env.production
**/.env.development
.dockerignore
Dockerfile
.git
.gitignore
README.md

**/redis_data

# Python-specific
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.py[cod]
*.swp
*~.nib
local_settings.py
db.sqlite3
pgdata/

# Next.js-specific
.next/
out/
.next/cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
# Ignore TypeScript build artifacts
*.tsbuildinfo
